body{
	font-family: 'Microsoft Yahei';
	color: #666;
	font-size: 12px;
}

/********************************首頁**************************************/
/*顶部状态条样式  */

.header_con{
		height: 29px;
		background-color: #f7f7f7;
		border-bottom: 1px solid #ddd; 
}
.header{
	width:1200px;
	height:29px;
	/*居中*/
	margin: 0 auto;
}
.welcome{
	font:12px/29px 'Microsoft Yahei';
	color: #666;
}
.user_login_link,.user_welcome,.user_shopping{
	height: 29px;
	line-height: 29px;
}

.user_login_link a, .user_shopping a{
	color: #666;
}
.user_login_link a:hover, .user_shopping a:hover{
	color: #f80;
}
.user_login_link span, .user_shopping span{
	margin: 0 15px;
	color: #cecece;
}
 .user_welcome{
	/*让元素藏起来.不占任何位置*/
	display: none;
} 
.user_welcome em{
	color: #f80;
}

/*logo  搜索*/
.logo_bar{
	width:1200px;
	height:115px;
	margin:0 auto;
}
.logo{
	width:156px;
	height:83px;
	margin:0 0 0 0px;
}
.search{
	/*最好的办法就是ｃｏｎｔａｉｎｅｒ不要设置宽度*/
	/*width:616px;*/
	/*height:38px;*/
	border:1px solid #517fbb;
	margin:34px 0 0 123px;
	background: url(../images/ic_search.png) 8px 9px no-repeat;
}
.search .input_text{
	width:470px;
	height:36px;
	border: 0px;
	margin-left: 37px;
	/*外框*/
	outline: none;
}
.search .input_btn{
	width:100px;
	height:38px;
	border: 0px;
	background-color: #517fbb;
	font: 14px/38px 'Microsoft Yahei';
	color: #fff;
	/*设置鼠标形状---手*/
	cursor: pointer;
}

.chart{
	width: 200px;
	height: 40px;
	margin-top: 34px;
}
.chart a{
	width: 158px;
	height: 38px;
	border: 1px solid #ddd;
	font:14px/38px 'Microsoft Yahei';
	text-indent: 56px;
	background: url(../images/shopping.png) 18px 11px no-repeat;
}

.chart span{
	width: 40px;
	height: 40px;
	background-color: #f80;
	font:bold 18px/40px 'Microsoft Yahei';
	color: #fff;
	text-align: center;
}
.sub_menu_con{
	height: 40px;
	border-bottom: 2px solid #517fbb;
}
.sub_menu{
	width: 1200px;
	height: 40px;
	/*相对父容器居中*/
	margin: 0 auto;
}
.sub_menu h1{
	width: 200px;
	height: 40px;
	background-color: #517fbb;
	color: #fff;
	font:14px/40px  'Microsoft Yahei';
	text-align: center;
}
.sub_menu ul{
	overflow: hidden;
}
.sub_menu li{
	float: left;
	height: 14px;
	padding: 0 25px;
	border-left: 1px solid #666;
	margin-left: -1px;
	margin-top: 13px;
}

.sub_menu li a{
	font: 14px/14px 'Microsoft Yahei';
	color: #666;
}
.sub_menu li a:hover{
	color: #f80;
}
.center_con{
	width: 1200px;
	height: 270px;
	margin: 0 auto;
}
.center_con .main_menu{
	width: 200px;
	height: 270px;
	overflow: hidden;
}
.center_con .main_menu li{
	width: 198px;
	height: 44px;
	border: 1px solid #eee;
	margin-top: -1px;
	background: url(../images/ic_arrow_right_gray.png) 174px 16px no-repeat;
}

.center_con .main_menu li a{
	/*块元素*/
	display: block;
	width: 198px;
	height: 44px; 
	font:14/44px 'Microsoft Yahei';
	color: #333;
	text-indent: 57px;
	padding-top: 14px;
	background: url(../images/icons2.png) 33px 0px no-repeat;
}

.center_con .main_menu li .fruit{
	/*单独控制位置*/
	background-position: 3px  10px;
}
.center_con .main_menu li .seafood{
	background-position: 3px  -58px;
}
.center_con .main_menu li .meat{
	background-position: 3px  -127px;
}
.center_con .main_menu li .egg{
	background-position: 3px  -194px;
}
.center_con .main_menu li .vegetable{
	background-position: 3px  -262px;
}
.center_con .main_menu li .ice{
	background-position: 3px  -329px;
}


/*<!-- 幻灯片 -->*/
.slide{
	width: 760px;
	height: 270px;
	position: relative;
	overflow: hidden;
}
/*如果你的背景图片小于你的ｃｏｎｔａｉｎｅｒ ,不设置ｎｏ－ｒｅｐｅａｔ,直到填满 ,整个ｃｏｎｔａｉｎｅｒ ,ｎｏ－ｒｅｐｅａｔ只是说只渲染一次，不要重复渲染*/
.prev,.next{
	width: 30px;
	height: 46px;
	position: absolute;
	left: 11px;
	top: 112px;
	cursor: pointer;
	/*background-color: red;   no-repeat*/
	background: url(../images/ic_back_white.png) 33px 0px;
}
.next{
	left: 732px;
	background: url(../images/ic_arrow_right_white.png) 33px 0px  ;
}
.points{
	position: absolute;
	/*width: 100%;---->不定位的时候 是块元素 ,定位的话是行内块元素*/
	width: 100%;
	height: 11px;
	left: 0;
	text-align: center;
	bottom: 9px;
	font-size: 0px;
}
.points li{
	width: 11px;
	height: 11px;
	background-color: #9f9f9f;
	display: inline-block;
	margin: 0 5px;
	/*指半径是高度的一半*/
	border-radius: 50%;
}
.points .active{
	background-color: #cecece;
}
.adv{
	width: 240px;
	height: 270px;
}
.adv a{
	/*a 默认行元素 ,浮动--->行内快元素*/
	/*行元素  有莫名其妙的间距,,浮动能解决*/
	float: left;
	width: 240px;
	height: 135px;
}
/*有时候下面会有几个像素的空白的bug,解决方案如下*/
.adv a img{
	display: block;
}

/*<!-- 商品列表 -->*/
.common_model{
	width: 1200px;
	height: 340px;
	margin: 18px auto 0;
	/*background-color: cyan;*/
}
.common_model .common_title{
	/*宽度不给的话,是父元素的100%*/
	height: 38px;
	border-bottom: 1px solid blue;
}
.common_model .common_title h3{
	font:bold 16px/38px 'Microsoft Yahei';
	color: #517fbb;
}
.common_model .common_title ul{
	height: 12px;
	/*border-left: 1px solid #666;*/
	margin: 12px 0 0 20px;
}
/*微软雅黑默认有行高*/
.common_model .common_title li{
	float: left;
	margin: 0 10px;
}
.common_model .common_title li a{
	line-height: 10px;
	font-size: 12px;
	color: #666;
}
.common_model .common_title li a:hover{
	color: #f80;
}
.common_model .common_title .more{
	height: 38px;
	line-height: 38px;
	color: #666;
}
.common_model .common_title .more:hover{
	color: #f80;
}
.common_model .common_goods_list{
	width: 1200px;
	height: 300px;
}

.common_model .common_goods_list .goods_banner{
	width: 200px;
	height: 300px;
}
.common_model .common_goods_list .goods_list{
	width: 1000px;
	height: 300px;
}

.common_model .common_goods_list .goods_list li{
	width: 249px;
	height: 299px;
	float: left;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}
.common_model .common_goods_list .goods_list li:hover{
	width: 248px;
	height: 298px;
	border: 1px solid #f80;
}
.common_model .common_goods_list .goods_list li h4{
	height: 52px;
	color: #666;
	text-align: center;
	font:14px/52px 'Microsoft Yahei';
}
.common_model .common_goods_list .goods_list li a{
	display: block;
	height: 180px;
	width: 180px;
	margin: 0 auto;
}
.common_model .common_goods_list .goods_list li p{
	display: block;
	height: 52px;
	text-align: center;
	font:bold 20px/52px 'Microsoft Yahei';
	color: #c40000;
	margin: 14px;
}

/*尾部 没有maartop塌陷是应为有边框*/
.footer{
	height: 145px;
	border-top: 2px solid #517fbb;
	margin-top:30px;
}
.footer .links{
	text-align: center;
	margin-top: 40px;
}
.footer .links a{
	color: #4e4e4e;
}
.footer .links a:hover{
	color: #f80;
}
.footer .links span{
	margin: 0 10px ;
}
.footer p{
	text-align: center;
	line-height: 27px;
	color: #4e4e4e;
}

/********************************登录页**************************************/
.login_header{
	width: 953px;
	height: 133px;
	margin: 0 auto;
}
.login_header a{
	display: block;
	margin-top: 28px;
	width: 193px;
	height: 76px;
}
.login_form_con{
	/*不给宽度,宽度就是100%*/
	height: 480px;
	border-top: 1px solid #79a652;
	border-bottom: 1px solid #79a652;
	background-color: #517fbb;
}
.login_form{
	width: 953px;
	height: 482px;
	margin: 0 auto;
}
.login_form .login_banner{
	float: left;
	margin: 92px 0 0 15px;
}
.login_form .slogan{
	color: #fff;
	font-size: 30px;
	width: 30px;
	height: 300px;
	text-align: center;
	line-height: 36px;
	margin: 87px 0 0 54px;
}
.login_form .form_input_con{
	width: 368px;
	height: 378px;
	background-color:#fff;
	border: 1px solid #c6c6c5;
	margin-top: 50px;
}
.login_footer{
	margin-top: 0px;
	border-top: 0px;
}
.form_title{
	width: 308px;
	height: 70px;
	border-bottom: 1px solid #e0e0e0;
	margin: 0 auto;
}
.form_title h1{
	float: left;
	height: 70px;
	font:bold 24px/70px 'Microsoft Yahei';
	color: #a8a8a8;
	margin-left: 44px;
}
.form_title a{
	float: left;
	width: 100px;
	height: 16px;
	font:16px/16px 'Microsoft Yahei';
	text-indent: 25px;
	background: url(../images/ic_explain_gray.png) 2px -1px no-repeat;
	margin: 30px 0 0 36px;
}
.form_input_con form{
	width: 308px;
	height: 221px;
	margin: 20px auto 0;
}
.form_input_con form .form_group{
	width: 308px;
	height: 68px;
}
.form_group .input_txt,.form_group .input_pwd{
	width: 306px;
	height: 38px;
	border: 1px solid #e0e0e0;
	background: url(../images/icon_personal.png) 280px 10px no-repeat;
	/*去掉选中时的虚框*/
	outline: none;
	text-indent: 10px;
}
.form_group .input_pwd{
	/*如果是雪碧图,则是back....-position*/
	background: url(../images/icon_personal.png) 280px 10px no-repeat;
}
.form_group .error{
	font:12px/28px 'Microsoft Yahei';
	color: #f80;
}
.form_group .input_check{
	margin: 2px 10px 0 0;
}
.form_group .find_pass{
	color: #4b4b4b;
}
.form_group .find_pass:hover{
	color: #f80;
}
.input_submit{
	width: 308px;
	height: 40px;
	background-color: #517fbb;
	border: 0;
	font: 24px/40px 'Microsoft Yahei';
	color: #fff;
	cursor: pointer;
}