# Created by .ignore support plugin (hsz.mobi)
.idea/
DjangoDemo1/.idea/dataSources/
DjangoDemo2/DjangoDemo2/__pycache__/
DjangoDemo2/__pycache__/
DjangoDemo3/.idea/
DjangoDemo3/DjangoDemo3/__pycache__/
DjangoDemo3/__pycache__/
DjangoDemo3/booktest/__pycache__/
DjangoDemo3/booktest/migrations/__pycache__/
DjangoDemo4/.idea/
DjangoDemo5/.idea/
DjangoDemo5/DjangoDemo5/__pycache__/
DjangoDemo5/__pycache__/
DjangoDemo5/booktest/__pycache__/
DjangoDemo5/booktest/migrations/__pycache__/
DjangoDemo5/whoosh_index/
DjangoShop/.idea/
DjangoShop/DjangoShop/__pycache__/
DjangoShop/__pycache__/
DjangoShop/df_user/__pycache__/
DjangoShop/df_user/migrations/__pycache__/
huashu/
"\350\241\250\347\231\275/.idea/"
"\350\241\250\347\231\275/__pycache__/"
"\350\241\250\347\231\275/build/"
"\350\241\250\347\231\275/dist/"
"\350\241\250\347\231\275/love1/__pycache__/"
"\350\241\250\347\231\275/love1/build/"
"\350\241\250\347\231\275/love2.spec"
"\350\241\250\347\231\275/love2/.idea/"
"\350\241\250\347\231\275/love2/__pycache__/"
"\350\241\250\347\231\275/love2/apowersoft-online-launcher.exe"
"\350\241\250\347\231\275/love2/build/"
"\350\241\250\347\231\275/love2/dist/"
"\350\241\250\347\231\275/love2/love.spec"
"\350\241\250\347\231\275/meihao.jpg"
