<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>风暴英雄</title>

	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<!-- html:xt   -tab -->
	<div class="login_header clearfix">
		<a href="index.html"><img src="/static/images/logo.png" alt="logo" /></a>
	</div>
	<div class="login_form_con">
		<div class="login_form">
			<img src="/static/images/cc.png" class="login_banner fl">
			<p class="slogan fl">时光枢纽  死战不休</p>

			<div class="form_input_con fr">
				<div class="form_title">
					<h1>会员登录</h1>
					<a href="#">立即注册</a>
				</div>

				<form>
					<div class="form_group">
						<input type="text" name="username" id="username" class="input_txt"
						 placeholder="请输入用户名">
						<span class="error">文字提示</span>
					</div>
					<div class="form_group">
						<input type="password" name="pwd" id="pwd" class="input_pwd"
						placeholder="请输入密码">
						<span class="error">文字提示</span>
					</div>
					<div class="form_group">
						<input type="checkbox" name="remember" id="remember" class="input_check fl">
						<label for="remember" class="input_label fl">记住用户名</label>
						<a href="#" class="find_pass fr">忘记密码</a>


					</div>
						<input type="submit" name="" value=" 登 录 " class="input_submit">

				</form>

				<div>
				</div>

			</div>
		</div>


	</div>

	<!-- 版权权限 -->
	<div class="footer login_footer">
		<div class="links">
			<a href="#">关于我们 </a>
			<span>|</span>
			<a href="#">联系我们 </a>
			<span>|</span>
			<a href="#">招聘人才 </a>
			<span>|</span>
			<a href="#">友情链接 </a>
		</div>
		<p>
积极健康的游戏心态是健康游戏的开端，本游戏故事情节设置紧凑，请您合理控制游戏时间，避免沉溺游戏影响生活，注意自我保护，防范网络陷阱。
健康游戏忠告：抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。
<br/>互联网违法和不良信息举报电话：0571-28090163 沪公网安备 31011502022167号 </p>
	</div>
</body>
</html>