<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<body>
<form method="post" action="/booktest/postTest2/">
用户名：<input type="text" name="uname"><br>
    密码：<input type="password" name="upwd"><br>
    性别：<input type="radio" name="ugender" value="男" checked="checked">男 <input type="radio" name="ugender" value="女">女<br>
    爱好：<input type="checkbox" name="uhobby" value="胸口碎大石">胸口碎大石
    <input type="checkbox" name="uhobby" value="抽烟、喝酒、烫头">抽烟、喝酒、烫头
    <input type="checkbox" name="uhobby" value="抢银行">抢银行
    <br>
    <input type="submit" value="提交">
</form>
</body>
</html>